<a href="https://colab.research.google.com/github/axelnerilucero/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Intro Python
#Vaiables
 Tipo dinámico

escuela = FES Aragon

In [6]:
escuela = "FES Aragaon"
print (escuela)
print ("--------")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es
una frase de 
multiples lineas 
y tambien es
un tipo de dato
"""
print (frase)
nombre = 'Jose'
nombre_completo = "jose sosa cardenas"

FES Aragaon
--------

Esta es
una frase de
multiples lineas
y tambien es
un tipo de dato

# Print 
con comas ,

con signo mas +

con format ()

con el operador f ""

In [7]:
#Print con coma ,
print(nombre, edad)

Jose 13

In [11]:
# + concatena
print (nombre + str(edad))
print (nombre + nombre_completo)

Jose13
JoseJose Sosa Cardenas

In [15]:
#con formato -> Nombre: Jose y su edad es de 13 años.
print ("Su nombre es", nombre, "y su edad es de", edad, "años.")

#formato
print ("Su nombre es {0} y su edad es de {1} años.".format(nombre,edad))
print ("Su nombre es {1} y su edad es de {0} años.".format(nombre,edad))

Su nombre es Jose y su edad es de 13 años.
Su nombre es Jose y su edad es de 13 años.
Su nombre es 13 y su edad es de Jose años.

In [16]:
#Con formato con el operador f""
#Forma mas usada en el semestre
print(f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es Jose y su edad es de 13 años.

# caracter de escape 
\n salto de linea

\t tabulador

\a beep

\\" imprimir comilla doble

\\' imprimir comilla simple

In [17]:
"""
Esto es 
un comentario 
de multiple linea 
tan tan
"""
print(f"\tMi nombre es\n\t\t{nombre}" )

	Mi nombre es
		Jose

#Ayuda de tipos de dato en python
dir() help()

In [ ]:
# str, int, float, bool, ... list, dict, set
help(str)
dir(str)

In [26]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end = "-----")
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS-----Jose Sosa Cardenas

In [ ]:
help(print)

# class String
Es manejada como un arreglo (c o java) o lista (python)

telefono = "Huawei mate 30 pro"
print(telefono[0])

In [29]:
telefono = "Huawei mate 30 pro"
print(telefono[0])

H

#Slicing (rebanado)

[inicio:stop:incremento]

el stop no se incluye, termina en el vaor anterior al stop

In [40]:
print (telefono[7:11:1])
# el inicio y el incremento son opcionales
print (telefono[:11:])
# el valor por defecto de stop es len(str)
print (telefono[::])
# incremento negativo
print (telefono[::-1])
# Slicing negativo
ini =-3
inc = 1
print (telefono[ini::inc])
print (telefono[-3::1])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro
pro

# métodos de string (str)
Existen métodos muy utiles en esta clase.

In [67]:
facultad = "    facultad de estudios superiores aragon      \n"
#cuenta el numero de elementos en la cadena
print (facultad.count("u")) 
# muestra en que numero se encuentra algun caracter en su primera coincidencia
print (facultad.find("s"))
#normal
print (facultad)
# Quita los espacios en blanco y saltos de linea
print (facultad.strip())
#todos los caracteres de la cadena (longitud del string)
print (len(facultad))
tamaño = len(facultad)
print (f"tamaño de la cadena es {tamaño} caracteres")
#dividir 
print (facultad.split("ta"))
print (facultad)
#dividir y quitar 
print(facultad.strip().split(" "))



print("----------")
#copiar cadenas 
otra_cadena = facultad 
print (otra_cadena)
otra_cadena = "FES Aragón"
print (facultad)
print (otra_cadena)

#copiar listas
colores = ["rojo", "verde"]
otra = colores.copy() 
print (colores)
print (otra)
otra.append("rosa")
print (colores)
print (otra)

3
17
    facultad de estudios superiores aragon

facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
['    facul', 'd de estudios superiores aragon      \n']
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
----------
    facultad de estudios superiores aragon

    facultad de estudios superiores aragon

FES Aragón
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']