<a href="https://colab.research.google.com/github/axelnerilucero/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#String continuación
numeros_txt = "   1,2, 3,   4,   5   , 35,     15,    12"
print (numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print (numeros_txt)
for j in range(len(numeros_txt)):
  numeros_txt[j] = int(numeros_txt[j].strip())
print (numeros_txt)

#funcion range()

#range(inicio, stop, incremento)
print (range(1,10,3))
rango = range(1,10,2)

for x in rango :
  print (x)

   1,2, 3,   4,   5   , 35,     15,    12
['1', '2', ' 3', '   4', '   5   ', ' 35', '     15', '    12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9


# listas
- mutables
- declaran con [ ]
- selector [int]
- pueden ser de cualquier tipo y mezclado

#tuplas
- NO mutables
- declaran con ( )
- selectos [int]

#diccionarios
- son mutables 
- son conjunto depares llave:valor
- equivalente a los Objecot JSON de javascript

#conjuntos 
- representacion de la teoria de conjuntos

In [26]:
#listas
frutas = ["pera", "manzana", "fresa", "kiwi", "naranja"]
print (frutas)
cosas = ["cuaderno", 2, 3.1416, True, False, ["rojo", "azul"]]
print (cosas)
frutas [2] = "Fresa" #frutas[2]=frutas[2].capitalize
print (frutas)

#agregar a lista
frutas.append("Aguacate") #agregar al final
print(frutas)

frutas.insert(2, "sandia") #agergar en una posicion exacta
print (frutas)

#concatenar listas
fecha = ["06", "10", "2020"] #06/10/2020
print (fecha)
fecha_str = "/".join(fecha)
print (fecha_str)

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja']
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['pera', 'manzana', 'sandia', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [30]:

#eliminar elementos
cosas = ["cuaderno", 2, 3.1416, True, False, ["rojo", "azul"]]
print (cosas)
cosas.append("Libro")
cosas.append("lapiz")
print (cosas)
algo = cosas.pop() #elimina el ultimo elemento
print (cosas)
print (algo)

algo = cosas.pop(2) #elimina un elemento especifico
print (cosas)
print (algo)

cosas.remove(2)
print (cosas)

#vaciar una lista

#cosas.clear()
print (cosas)

#ordenar las listas
print (frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'Libro', 'lapiz']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'Libro']
lapiz
['cuaderno', 2, True, False, ['rojo', 'azul'], 'Libro']
3.1416
['cuaderno', True, False, ['rojo', 'azul'], 'Libro']
['cuaderno', True, False, ['rojo', 'azul'], 'Libro']
['Aguacate', 'Fresa', 'kiwi', 'manzana', 'naranja', 'pera', 'sandia']
['Aguacate', 'Fresa', 'kiwi', 'manzana', 'naranja', 'pera', 'sandia']

In [ ]:
help(list)

In [36]:
#Slicing 
cosas = ["cuaderno", 2, 3.1416, True, False, ["rojo", "azul"]]
print (cosas[3:5:1])
print (cosas[0][3:5:1])

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print (numeros[8:13:1])


#sustituir rebanadas -2,-2 -> ○10,1,2,3,4,5,6,7,-2,-2

numeros [8:13:] = [-2,-2]
print (numeros)


# preguntar por existencia

print (-9 in numeros)

[True, False]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
False

#listas multidimensión
listas dentro de listas

In [49]:
computadoras =["HP", "MacBook Pro 17", "MateBook", "Lenovo Legion"]
oss = ["Windows 10", "Linux", "Andorid", "iOS"]
computo = [computadoras , oss]
print (computo[0])
print (computo[1])
print (computo[0][2])
print (computo[0][2][0:4])
print (computo[0][3][5: :-1])
print (computo[0][3][-8: :-1])

dbms = [["Mysqul", "Open soruce", False],["MS SQL server", "de paga", True]]
computo.append(dbms)
print (computo)
print (computo[2][0][0])
print (computo[2][1][1])

['HP', 'MacBook Pro 17', 'MateBook', 'Lenovo Legion']
['Windows 10', 'Linux', 'Andorid', 'iOS']
MateBook
Mate
ovoneL
ovoneL
[['HP', 'MacBook Pro 17', 'MateBook', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Andorid', 'iOS'], [['Mysqul', 'Open soruce', False], ['MS SQL server', 'de paga', True]]]
Mysqul
de paga